body { 
	font-family: "Roboto", sans-serif; 
	background-color: #f7f5f5;
	height: 100%;
	box-sizing: border-box;
	padding-bottom: 100px;
}

/* not sure what this is styling */
h1 { 
	position: absolute;
	background: white;
	padding: 5px;
}

/* page title */
h2 {
	/*text-align: left;*/
	font-size: 3.15em;
	padding-bottom: 30px;
	margin-left: 20px;
	color: white;
}

#soofa-logo {
	position: relative;
	top: 4px;
	margin-right: 10px;
	width: 175px;
}

/* Css for warning box */
.danger {
    position: relative;
    bottom: 30px;
    color: #ff6858;
    width: 600px;
    margin-left: 20px;
    font-size: 18px;
}

.danger p:last-child {
	font-size: 12px;
	color: #919191;
}

#soofa-sign {
	position: relative;
	top: 0;
	background-color: #313131;
	height: 600px;
	width: 100%;
	z-index: 0;
}

#soofa-sign-img {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	opacity: .5;
	margin-right: auto;
	margin-left: auto;
	z-index: -1;
}

.map-search-container {
	text-align: center;
}

/* Google Searchbox */
#mapsearch {
	display: inline-block;
	width: 400px;
	height: 20px;
	margin-left: 60px;
	border-style: none;
	background-color: transparent;
	border-bottom: 1px solid #515151;
	z-index: 1;
}

/* Dropdown menu for cities */
.city-dropdown {
	display: inline-block;
	width: 200px;
}

/* Css for checkboxes */  
/* Dropdown menu for multiple heatmap layers */
#layerselector {
	display: inline-block;
	margin-left: 20px;
	width: 300px;
}

.multiselect {
  width: 300px;
  position: relative;
}

#checkboxes {
  display: none;
  position: absolute;
  top: 85px;
  left: 50px;
  border: 1px #dadada solid;
  font-weight:100;
  text-align: left;
  padding-right: 5px;
  padding-left: 5px;
  background-color: white;
  z-index: 2;
}

select {
  margin: 50px;
  width: 180px;
  padding: 5px 10px;
  font-size: 14px;
  color: #515151;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(http://www.soofa.co/favicon.ico) 98% / 24px no-repeat #eee;
}

select::-ms-expand { 
    display: none; /* remove default arrow on ie10 and ie11 */
}

#checkboxes > label:first-child {
	padding-top: 20px;
}

.selectBox select {
  width: 200px;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

#checkboxes input {
  display: inline-block;
  margin-right: 10px;
}

#checkboxes label {
  display: block;
  padding-top: 10px;
}

#checkboxes label:first-child {
	margin-top: 0;
}
#checkboxes label:last-child {
	margin-bottom: 10px;
}

/** Important for leaflet map **/  
.leaflet-container {                                            
      background: rgba(0,0,0,.8) !important;
    } 

/* MAP */
.map-container {
	width: 50%;
}

div.heatmap {
	display: block;
	position: absolute;
	margin-left: 50px;
	height: 500px;
	width: 700px;
	z-index: 1;
	border: 2px solid white;
}


/* Css for 'averge score' button */
.scoredisplay {
    background-color: #ff6858;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: .075em;
}

/*  Compare scores submit button */
#save-info-button {
	display: block;
	margin: 20px auto 0px auto;

}

input::placeholder {
    outline: none;
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
}

#mapsearch textarea:focus, input:focus{
    outline: none;
    color: #ff6858;
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
}

/* score displays */
.scoresform-container {
	width: 500px;
	height: 500px;
	float: right;
	padding: 10px 0px;
	margin-top: 20px;
	margin-bottom: 50px;
}

#scoresform {
	position: relative;
	display: block;
	width: 350px;
	background: rgba(0,0,0,.15);
	padding: 30px 40px;
	margin-right: auto;
	margin-left: auto;
}

.scores {
	position: relative;
	width: 225px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}

#scoresform .scores > label {
	display: inline-block;
	margin-top: 10px;
	font-size: 14px;
}

#scoresform .scores > input {
	position: absolute;
	right: 0;
	width: 30px;
	text-align: center;
	font-size: 12px;
	margin-top: 7px;
}

.address-container {
	width: 370px;
	margin: 0px auto;
}

#scoresform #address {
	width: 100%;
	font-size: 14px;
	border: none;
	background-color: transparent;
	text-align: center;
}

/* AVERAGE score */

label[for="average"] {
    color: #ff6858;
    letter-spacing: .075em;
    padding-left: 20px;
}

#average {
	width: 50px;
	font-size: 16px;
	padding-left: 5px;
	border: none;
	background-color: transparent;
	color: #ff6858;
	text-align: center;
}

.average {
	width: 225px;
	margin-right: auto;
	margin-left: auto;
}

/***  Score comparison section at bottom  ***/

/* comparison results container */
#compareScores {
	clear: both;
	width: 1200px;
	border-top: 2px solid white;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
}

/* individual comparison results */
.scoresCompare {
	background: rgba(0,0,0,.15);
	border: 2px solid white;
	border-radius: 4px;
	list-style-type: none;
	width: 350px;
	height: 350px;
	float: left;
	padding: 10px;
	margin-right: 10px;
}

.scoresCompare div {
	width: 230px;
	margin-right: auto;
	margin-left: auto;
}
.scoresCompare li {
	margin-top: 8px;
}











